* {
	box-sizing: border-box;
}

body {

	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	background-color: #e3f3f8;
}

.navbar {

	background-color: #cecece;
	min-height: 70px;
	border-radius: 0;
	margin-bottom: 0px;
	border: 1.1px solid #1c2d6b
}



.navbar-brand span {
	color:#18110b;
	font-size: 1.5em;
	font-weight: bold;
}
.container {

/**width: 100%;**/

}


.page-title {
	
	margin-top: 15px;
	margin-bottom: 15px;
	border: 2px;
	font-size: 1.4em;
	font-weight: bold;
}

.block {
	
	
	/*padding: 10px 20px 10px 20px;**/
	margin: auto;
	border: 2px;
	background-color: #cecece;

}

#container {
	/**margin-left: 110px;
	margin-right: 110px; **/
	padding-right: 15px;
	padding-left: 15px;	
}

section {

	vertical-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}


.block-title {
	margin-top: 3px;
}

.block-title > span {
padding: 10px;
font-size: 1.1em;
font-weight: bold;
}

.text-block {
	
	padding: 10px 20px 20px 20px;
}

#collapsable-nav {
	padding:0px;
}

#nav-list {
	border: .8px solid #1c2d6b;
	margin: 0px;
}

#nav-list hr {
	height: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-color: #1c2d6b;
}

#nav-list a {
	color: #18110b;
	padding-top: 4px;
	padding-bottom: 0px;
	background-color: #cfe3d1;
	
}


#nav-list a:hover {
	background: #f6f5fb;
}


@media (max-width: 479px) {
 
 
.navbar-brand span {

	font-size: 6vw;

}
  
}