* {
	box-sizing: border-box;
}

body {

	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	background-color: #e3f3f8;
}

.navbar {

background-color: #cecece;
width: 100%;
height: 100px;
padding: 0px;
margin: 0px;
border-radius: 0;

}

.container {

width: 100%;
padding: 0px;
margin: 10px;

}

.page-title {
	margin: 40px;	
	padding: 10px 20px 10px 20px;
	width: 938px; 
	margin: 10px 20px 10px 20px;
	border: 2px;
	font-size: 2em;
}

.block {
	
	margin: 40px;	
	padding: 10px 20px 10px 20px;
	width: 938px; 
	margin: 10px 20px 10px 20px;
	border: 2px;
	background-color: #cecece;
}

section {

	vertical-align:center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.block-border {

	border: 2px solid #1c2d6b;
}

.text-block {

	
	top: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}